//- index.jade
doctype html
html
head
  meta(charset="utf-8")
  link(rel="stylesheet", href="main.css", type="text/css")
body
  #controls
    button(id="play") Play
    button(id="pause") Pause
  #launchpad
  #ledStatus
  #musicStatus
  #midiStatus
  script(src="js/lib/howler.js")
  script(src="js/lib/simplex-noise.js")
  script(src="js/lib/jquery-2.1.1.min.js")
  script(src="js/hsv.js")
  script(src="js/rings.js")
  script(src="js/lights.js")
  script(src="js/beatpad.js")
 